@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 40vw;
  height: 80vh;
  background: #e2dfdf;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-1%, 12%);
  perspective: 250vw;
  text-align: center;
  -webkit-box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82);
  box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82); }
  .container__main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 2px 26px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 26px 27px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 26px 27px -10px rgba(0, 0, 0, 0.75);
    transform: rotateY(-180deg); }
    .container__main .flip {
      margin: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      color: rgba(0, 0, 0, 0.466); }
    .container__main--front {
      background: url("../img/cover.jpg") center no-repeat;
      background-size: 100% 100%; }
    .container__main--back {
      background: #e2dfdf;
      transform: rotateY(180deg);
      z-index: 2;
      left: 0; }

.container__grid {
  position: relative;
  transform: translate(2%, 2%);
  display: grid;
  grid-template-rows: repeat(5, 8vw);
  grid-template-columns: repeat(4, 9vw);
  font-size: 2vw;
  grid-gap: 1%;
  grid-row-gap: 1vw;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5); }

.player--0 {
  grid-row: 1/ span 1;
  grid-column: 1/ span 2; }

.player--1 {
  grid-row: 1 /span 1;
  grid-column: 3 /span 2; }

.roll {
  grid-row: 5 /span 1;
  grid-column: 2 /span 2; }
  .roll:hover {
    cursor: pointer; }

.hold {
  grid-row: 5 /span 1;
  grid-column: 4 /span 1; }

.new {
  grid-row: 5 /span 1;
  grid-column: 1 /span 1; }

.player--0--score {
  grid-row: 4 /span 1;
  grid-column: 1 /span 2;
  background: #83BCFF;
  padding: 10%; }

.player--1--score {
  grid-row: 4 /span 1;
  grid-column: 3 /span 2;
  background: #83BCFF;
  padding: 10%; }

.player--0--roll {
  grid-row: 3 /span 1;
  grid-column: 1 /span 2; }

.player--1--roll {
  grid-row: 3 /span 1;
  grid-column: 3 /span 2; }

.dice--roll {
  grid-row: 2/span 1;
  grid-column: 2/span 2; }

.dice {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: contain; }

.highlight {
  background-color: #c91e1e; }

.background {
  height: 100vh;
  position: relative;
  background: #83BCFF;
  -webkit-clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%);
  clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%); }

.container__main--back {
  position: relative;
  overflow: hidden;
  margin: 2vw; }

ul {
  list-style-type: none; }

.input__name {
  display: none;
  transform: translate(-1%, 335%); }

input {
  outline: none;
  padding: 1vw;
  width: 100%; }
