@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif; }

.container {
  width: 40vw;
  height: 80vh;
  background: #e2dfdf;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translate(-1%, 12%);
  perspective: 250vw;
  text-align: center;
  -webkit-box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82);
  box-shadow: -12px 10px 30px -6px rgba(0, 0, 0, 0.82); }
  .container__main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotateY(-30deg);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 18px 22px 41px -13px #1f1e1f;
    -moz-box-shadow: 18px 22px 41px -13px #1f1e1f;
    box-shadow: 18px 22px 41px -13px #1f1e1f; }
    .container__main .flip {
      margin: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      color: rgba(0, 0, 0, 0.466); }
    .container__main--front {
      background: url("../img/TwentyOne.png") center no-repeat;
      background-size: 100% 100%; }
    .container__main--back {
      background: #e2dfdf;
      transform: rotateY(180deg);
      z-index: 2;
      left: 0; }
  .container:hover .container__main {
    transform: rotateY(-180deg); }

.container__grid {
  position: relative;
  transform: translate(2%, 2%);
  display: grid;
  grid-template-rows: repeat(5, 8vw);
  grid-template-columns: repeat(4, 9vw);
  font-size: 2vw;
  grid-gap: 1%;
  grid-row-gap: 1vw;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.5); }

.player--0 {
  grid-row: 1/ span 1;
  grid-column: 1/ span 2; }

.player--1 {
  grid-row: 1 /span 1;
  grid-column: 3 /span 2; }

.roll {
  grid-row: 5 /span 1;
  grid-column: 2 /span 2; }
  .roll:hover {
    cursor: pointer;
    color: rgba(74, 182, 148, 0.863); }

.hold {
  grid-row: 5 /span 1;
  grid-column: 4 /span 1; }
  .hold:hover {
    cursor: pointer;
    color: rgba(74, 182, 148, 0.863); }

.new {
  grid-row: 5 /span 1;
  grid-column: 1 /span 1; }
  .new:hover {
    cursor: pointer;
    color: rgba(74, 182, 148, 0.863); }

.player--0--score {
  grid-row: 4 /span 1;
  grid-column: 1 /span 2;
  background: #83BCFF;
  padding: 10%; }

.player--1--score {
  grid-row: 4 /span 1;
  grid-column: 3 /span 2;
  background: #83BCFF;
  padding: 10%; }

.player--0--roll {
  grid-row: 3 /span 1;
  grid-column: 1 /span 2; }

.player--1--roll {
  grid-row: 3 /span 1;
  grid-column: 3 /span 2; }

.dice--roll {
  grid-row: 2/span 1;
  grid-column: 2/span 2; }

.dice {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: contain; }

.highlight {
  border-bottom: 2px solid #0075fc; }

.background {
  height: 100vh;
  position: relative;
  background: #83BCFF;
  -webkit-clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%);
  clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%); }

.winner {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgba(114, 138, 191, 0.781);
  border-radius: 2%;
  width: 60vw;
  height: 20vw;
  text-align: center;
  font-size: 1vw;
  display: none; }
  .winner__header {
    position: relative;
    top: 40%; }
    .winner__header--extra {
      color: rgba(77, 158, 134, 0.87); }
  .winner__close {
    position: absolute;
    font-size: 2vw;
    padding: 1vw;
    color: #fff;
    top: 0%;
    right: 0%; }

@media only screen and (max-width: 600px) {
  .container__grid {
    position: relative;
    top: 30%; }
  .back__box {
    position: relative;
    top: 30%; } }

.container__main--back {
  position: relative;
  overflow: hidden;
  margin: 2vw; }

.back__box {
  position: relative;
  padding: 3vw;
  font-size: 1.2vw; }

.instruct {
  border-bottom: 1px solid red; }

li {
  padding: 1vw; }

.h3 {
  padding: 1vw;
  color: rgba(255, 0, 0, 0.918);
  transition: all .5s ease-in-out; }
  .h3:hover {
    cursor: pointer;
    color: rgba(86, 139, 122, 0.815); }

.input__name {
  position: absolute;
  padding: 3vw;
  top: 20%;
  left: 30%;
  display: none;
  height: 30vw;
  width: 40vw;
  z-index: 100;
  background: rgba(255, 255, 255, 0.808); }
  .input__name p input {
    width: 99%;
    margin: 0 auto;
    margin-bottom: 1vw;
    background: transparent;
    border: none;
    border-bottom: .2rem solid black;
    outline: none;
    color: #292727;
    height: 4vw;
    font-size: 150%; }
  .input__name--btn {
    border: .2vw solid black;
    display: inline-block;
    position: absolute;
    left: 20%;
    width: 60%;
    background-color: rgba(27, 25, 25, 0.829);
    color: #fff;
    font-size: 1vw;
    height: 3vw; }
    .input__name--btn:hover {
      cursor: pointer; }
  .input__name p {
    text-align: center;
    font-size: 1vw; }
