//main container
.container{
    width: 40vw;
    height: 80vh;
    background:  rgb(226, 223, 223);
    position: absolute;
    left: 50%;
    top: 2%;
    -webkit-transform: translate(-1%, 12%);
    -ms-transform: translate(-1%, 12%);
    transform: translate(-1%, 12%);
    -webkit-perspective: 250vw;
            perspective: 250vw;
    text-align: center;
    @include box-shadow;
    
    //cover
    &__main{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        // transform: rotateY(-30deg);
        // transform-style: preserve-3d;
        // transform-origin: left;
        // transition: all 1s ease-in-out;
        -webkit-transform: rotateY(-30deg);
        transform: rotateY(-30deg);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
                transform-origin: left;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        @include box-shadow2;

        //front and back cover attributes
        .flip{
            margin: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            color: rgba(0, 0, 0, 0.466)
        }
            //front cover with the dice image
            &--front{
                background: url('../img/TwentyOne.png') center no-repeat;
                background-size: 100% 100%;
            }
            //back cover with the instructions    
            &--back{
                background: rgb(226, 223, 223);
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
                z-index: 2;
                left: 0;
            }
        }
    //turn on hover effect
    &:hover &__main{
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        
    }
}
