
.container__grid{
    position: relative;
    transform: translate(2%,2%);
    display: grid;
    grid-template-rows: repeat(5,8vw);
    grid-template-columns: repeat(4,9vw);
    font-size: 2vw;
    grid-gap: 1%;
    grid-row-gap: 1vw;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.5);
}

.player--0{
    grid-row: 1/ span 1;
    grid-column: 1/ span 2;
}

.player--1{
    grid-row: 1 /span 1;
    grid-column: 3 /span 2;
}

.roll{
    grid-row: 5 /span 1;
    grid-column: 2 /span 2;

    &:hover {
        cursor:pointer;
    }
}

.hold{
    grid-row: 5 /span 1;
    grid-column: 4 /span 1;

    &:hover {
        cursor:pointer;
    }
}

.new{
    grid-row: 5 /span 1;
    grid-column: 1 /span 1;

    &:hover {
        cursor:pointer;
    }
}

.player--0--score{
    grid-row: 4 /span 1;
    grid-column: 1 /span 2;
    background:#83BCFF;
    padding: 10%;
}

.player--1--score{
    grid-row: 4 /span 1;
    grid-column: 3 /span 2;
    background:#83BCFF;
    padding: 10%;
}
.player--0--roll{
    grid-row: 3 /span 1;
    grid-column: 1 /span 2;
}

.player--1--roll{
    grid-row: 3 /span 1;
    grid-column: 3 /span 2;
}
.dice--roll{
    grid-row: 2/span 1;
    grid-column: 2/span 2;
}

.dice{
    width: 100%;
    height: 100%;
    display: none;
    object-fit: contain;
}

//highlight active player 

.highlight{
    border-bottom: 2px solid rgb(0, 117, 252);
}