@mixin box-shadow{
    -webkit-box-shadow: -12px 10px 30px -6px rgba(0,0,0,0.82);
    -moz-box-shadow: -12px 10px 30px -6px rgba(0,0,0,0.82);
    box-shadow: -12px 10px 30px -6px rgba(0,0,0,0.82);

}

@mixin back-clip{
    -webkit-clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%);
clip-path: polygon(81% 0, 100% 0, 100% 70%, 25% 100%, 0 100%, 0% 30%);
}

@mixin back-clip2{
    -webkit-clip-path: polygon(81% 0, 100% 0, 100% 99%, 21% 71%, 0 100%, 0% 30%);
    clip-path: polygon(81% 0, 100% 0, 100% 99%, 21% 71%, 0 100%, 0% 30%);
}

@mixin back-clip3{
    -webkit-clip-path: polygon(52% 42%, 89% 0, 100% 35%, 80% 55%, 80% 90%, 51% 64%, 23% 90%, 24% 54%, 1% 32%, 10% 0);
clip-path: polygon(52% 42%, 89% 0, 100% 35%, 80% 55%, 80% 90%, 51% 64%, 23% 90%, 24% 54%, 1% 32%, 10% 0);
}